body {
  direction: rtl;
  margin: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

@font-face {
  font-family: 'Yekan';
  src: url('/fonts/Yekan/Yekan.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Yekan/Yekan.woff') format('woff'),
    url('/fonts/Yekan/Yekan.ttf') format('truetype');
}

.NavBar {
  height: 600px;
  background-image: url('/images/navBg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.NavBar nav {
  border-radius: 0 0 50px 50px;
}
.nav-link {
  color: #2e5d6a !important;
  font-family: Yekan;
  font-size: 20px;
}
.nav-link:hover {
  color: aqua !important;
}
